<!DOCTYPE>
<html>
<head>
    <title>Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <h1 class="display-4">Registered Users</h1>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Organization</th>
        </tr>
    </thead>
    <tbody>
        {% for name, organization in registrations.items() %}
        <tr>
            <td>{{ name }}</td>
            <td>{{ organization }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>
```